/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
  }
  
  header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 3px solid #e8491d;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  /* Botones y enlaces */
  a {
    color: #e8491d;
    text-decoration: none;
  }
  
  a:hover {
    color: #333;
  }
  
  input[type=submit] {
    background: #e8491d;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background: #333;
  }
  
  /* Formulario de comentarios */
  form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type=text],
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Sección de documentos y medios */
  h3 {
    margin-top: 20px;
  }
  
  div img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilos para footer */
  footer p {
    margin: 0;
  }
  
/* Estilos CSS para el menú */
.container-fluid {
  position: relative; /* Establece el contenedor del menú como referencia para el posicionamiento absoluto */
}

#navbarNavDropdown {
  flex-grow: 1;
}

#user-info {
  position: absolute; /* Posiciona absolutamente la info del usuario dentro del .container-fluid */
  right: 0; /* Alinea la info del usuario a la derecha */
  top: 50%; /* Centra verticalmente la info del usuario */
  transform: translateY(-50%); /* Ajusta el centrado vertical */
  display: flex;
  align-items: center;
}

/* Estilos para móviles si es necesario */
@media (max-width: 991px) {
  #user-info {
      position: static; /* En dispositivos móviles, vuelve a la posición normal para que no sobreponga al menú colapsado */
      transform: none;
      top: auto;
      display: block; /* O flex, dependiendo de cómo quieras que se vea en móviles */
  }
}

  